* {
    box-sizing: border-box;
}

body {
    background-color: #66462C;
}

header {
    /*margin-top: 0;*/
    width: 100%;
    background-color: #BD986F;
}

a:link, a:active, a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.subtitle {
    padding-left: 20px;
}

.app-state {
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
}

.active {
    /*color: #177E89;*/
    color: #177E89;
    font-weight: bold;
    /*font-size: 18px;*/
}

.in-active {
    color: black;
}

main {
    width: 100%;
}

.hide {
    display: none;
}

.hide-map {
    visibility: hidden;
    height: 10px;
    overflow: hidden;
}

.landing-page, .find-book-page, .find-coffee-shop-page, .final-page {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%;
}

.book-search-tagline {
    display: none;
}

.book-results, .coffee-shop-results, .final-page-results {
    /*margin-top: 40px;*/
    width: 650px;
    height: 650px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #BD986F;
}

.book-results {
    padding: 5px;
}

.book-info {
    margin-bottom: 15px;
}

.select-book {
    margin-top: 5px;
}

#coffee-shop-input {
    display: none;
    width: 45%;
    height: 28px;
    font-size: 14px;
    margin-top: 10px;
}

.coffee-shop-search-tagline-2 {
    display: none;
}

#map {
    display: inline-block;
}

#final-map {
    display: inline-block;
}

.side-panel-wrap {
    display: inline-block;
    height: 650px;
    width: 352px;
    text-align: center;
    /*this fixes vertical alingment bug in MS Edge*/
    vertical-align: top;
}

#coffeeShopBtn {
    /*display: none;*/
    /*float: right;*/
    /*position: relative;
    left: 480px;
    bottom: 3px;*/
    border-radius: 5px;
    /*margin-right: 55px;*/
    margin-bottom: 3px;
}

#coffee-shop-reviews {
    /*margin-top: 40px;*/
    width: 350px;
    height: 621px;
    padding: 7px;
    /*display: inline-block;*/
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
    background-color: #BD986F;
}

.selected-results {
    margin-bottom: 5px;
    /*margin-left: auto;
    margin-right: auto;*/
}

.selected-book {
    height: 100px;
    padding: 10px;
    float: left;
    background-color: #6BACB3;
    border-radius: 8px;
    font-weight: bold;
    margin-left: auto;
    /*margin-right: auto;*/
}

.selected-book-name {
    display: inline-block;
}

.selected-coffee-shop {
    height: 100px;
    margin-left: 5px;
    display: inline-block;
    padding: 10px;
    background-color: #6BACB3;
    border-radius: 8px;
    font-weight: bold;
    /*margin-left: auto;*/
    margin-right: auto;
}

.selected-coffee-shop-name {
    display: inline-block;
}

.selected-coffee-shop-vicinity {
    display: inline-block;
}

#text-directions-panel {
    width: 350px;
    height: 650px;
    padding: 7px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
    background-color: #BD986F;
}

.address-input-panel {
    display: inline-block;
    width: 250px;
    height: 650px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
    background-color: #BD986F;
}

#final-form {
    margin-top: 40px;
}

label#startLabel, label#endLabel {
    margin-top: 20px;
    margin-left: 15px;
}

input#start, input#end {
    width: 92%;
}

button#finalBtn {
    margin-top: 5px;
}

.coffee-review-border {
    border-bottom: 1px solid black;
}

.coffee-review-background {
    /*background-color: #cccccc;*/
    font-weight: bold;
}

.coffee-review-text {
    text-align: left;
    padding-left: 4px;
}

#extLinkImg {
    width: 12px;
}