* {
    box-sizing: border-box;
}


/*html, body {
    height: 100%;
    background-color: black;
}*/

body {
    background-color: black;
    height: 100%;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("../img/landing1920.jpg");
    background-size: cover;
}

.books-bg {
    /*background: url("../img/books3x1920.jpg") no-repeat center center fixed;*/
    background: url("../img/books5x1920.jpg") no-repeat center center fixed;
    background-size: cover;
    /*z-index: 1;*/
    -webkit-transition: all 0.9s ease-in 0.15s;
    -moz-transition: all 0.9s ease-in 0.15s;
    transition: all 0.9s ease-in 0.15s;
}

.coffee-bg {
    background: url("../img/coffee1920.jpg") no-repeat center center fixed;
    background-size: cover;
    /*z-index: 2;*/
    -webkit-transition: all 0.9s ease-in 0.2s;
    -moz-transition: all 0.9s ease-in 0.2s;
    transition: all 0.9s ease-in 0.2s;
}

.final-bg {
    background: url("../img/final1920.jpg") no-repeat center center fixed;
    background-size: cover;
    /*z-index: 3;*/
    -webkit-transition: all 0.9s ease-in 0.2s;
    -moz-transition: all 0.9s ease-in 0.2s;
    transition: all 0.9s ease-in 0.2s;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 8px;
}

a:link, a:active, a:visited {
    color: maroon;
}

#external-link-img {
    width: 12px;
}

a:hover {
    text-decoration: underline;
}

.title {
    /*width: 100%;*/
    margin-top: 0;
    padding-top: 20px;
    /*border: 1px solid white;*/
    font-family: 'Dancing Script', cursive;
    font-size: 110px;
    color: #4195b7;
    font-weight: bold;
    letter-spacing: 7px;
}

.subtitle {
    /*padding-top: 5px;*/
    padding-bottom: 10px;
    color: maroon;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    /*border: 1px solid white;*/
    letter-spacing: 2px;
}

h1 {
    margin-bottom: 0;
}

.instructions {
    padding-top: 30px;
    color: #4195b7;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.instruction-merienda {
    font-family: 'Merienda One', cursive;
    font-size: 37px;
    margin-right: 20px;
}

.instruction-helvetica {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
}

.active {
    /*color: #177E89;*/
    color: #177E89;
    font-weight: bold;
    background-color: gray;
    /*font-size: 18px;*/
}

.hide {
    display: none;
}

.hide-map {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.hidden-tagline {
    visibility: hidden;
}

.landing-page, .find-book-page, .find-coffee-shop-page, .final-page {
    /*margin-left: auto;
    margin-right: auto;*/
    background: rgba(0, 0, 0, 0.7);
    color: #4195b7;
    border-radius: 8px;
}


/*.landing-page {
    width: 100%;
    padding-bottom: 50px;
}

.find-book-page {
    width: 100%;
    padding-bottom: 10px;
}

.find-coffee-shop-page {
    width: 100%;
    padding-bottom: 10px;
}

.final-page {
    width: 100%;
    padding-bottom: 10px;
}*/

#landing-btn-container {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 2%;
}

#book-search-tagline {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Merienda One', cursive;
    font-size: 27px;
}

#book-select-tagline {
    /*display: none;*/
    font-family: Helvetica;
    font-size: 20px;
}

.coffee-shop-results, .final-page-results {
    width: 100%;
    height: 545px;
    overflow: auto;
    /*border: 1px solid black;*/
    border-radius: 8px;
    margin-bottom: 2%;
}

.book-results {
    width: 100%;
    height: 545px;
    overflow: auto;
    margin-bottom: 2%;
}

.book-info {
    margin-bottom: 18px;
}

.select-book {
    margin-top: 5px;
}

#coffee-shop-input {
    display: none;
    width: 45%;
    font-size: 18px;
    margin-top: 75px;
}

.coffee-shop-search-tagline-1 {
    display: inline-block;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    font-family: 'Merienda One', cursive;
    font-size: 27px;
}

.coffee-shop-search-tagline-2 {
    /*visibility: hidden;*/
    font-family: Helvetica;
    font-size: 20px;
}

#map {
    /*height: 540px;*/
    display: inline-block;
}

#final-map {
    display: inline-block;
}

.side-panel-wrap {
    margin-top: 90px;
    margin-bottom: 2%;
    display: inline-block;
    height: 545px;
    /*width: 352px;*/
    width: 100%;
    text-align: center;
    /*vertical-align fixes alingment bug in MS Edge*/
    vertical-align: top;
}

#coffeeShopBtn {
    /*display: none;*/
    /*float: right;*/
    /*position: relative;
    left: 480px;
    bottom: 3px;*/
    border-radius: 5px;
    /*margin-right: 55px;*/
    margin-bottom: 3px;
}

#coffee-shop-reviews {
    /*margin-top: 40px;*/
    /*width: 350px;*/
    width: 100%;
    height: 513px;
    padding: 7px;
    /*display: inline-block;*/
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
    /*background-color: #BD986F;*/
}

.selected-results {
    width: 100%;
    /*height: 100px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: auto;
    margin-right: auto;*/
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    /*overflow: auto;*/
}

.selected-book {
    /*height: 100px;*/
    /*padding: 10px;*/
    float: left;
    /*border-radius: 8px;*/
    font-weight: bold;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin-right: auto;*/
    /*-webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;*/
}

.selected-book-name {
    color: white;
}

.selected-coffee-shop {
    /*height: 100px;*/
    /*margin-left: 5px;*/
    /*padding-left: 5px;*/
    display: inline-block;
    /*padding: 10px;*/
    /*border-radius: 8px;*/
    font-weight: bold;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-left: 1px solid white;*/
    /*margin-right: auto;*/
    /*-webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;*/
}

.selected-coffee-shop-name {
    /*display: inline-block;*/
    color: white;
}


/*.selected-book:hover, .selected-coffee-shop:hover {
    background-color: #202020;
}*/

.selected-coffee-shop-vicinity {
    display: inline-block;
}

#text-directions-panel {
    /*width: 350px;*/
    width: 100%;
    height: 545px;
    padding: 7px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
    margin-bottom: 2%;
    /*background-color: #BD986F;*/
}

.address-input-panel {
    display: inline-block;
    /*width: 250px;*/
    width: 100%;
    height: 545px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
    margin-bottom: 2%;
    /*background-color: #BD986F;*/
}

#final-form {
    margin-top: 40px;
}

label#startLabel, label#endLabel {
    margin-top: 20px;
    margin-left: 15px;
}


/*input#start, input#end {
    width: 92%;
}*/

button#finalBtn {
    margin-top: 5px;
}

.coffee-review-border {
    border-bottom: 1px solid black;
}

.coffee-review-background {
    /*background-color: #cccccc;*/
    font-weight: bold;
}

.coffee-review-text {
    text-align: left;
    padding-left: 4px;
}