
* {
    box-sizing: border-box;
}

.hide {
    display: none;
    /*visibility: hidden;*/
}

.active {
    color: lightgreen;
    font-size: 18px;
}

/*.app-state li {
    color: lightgray;
}*/

.in-active {
    color: lightgray;
}

header {
    /*width: 600px;*/
    /*height: 65px;*/
    border: 1px solid black;
    /*border-radius: 5px;*/
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    width: 1015px;
    margin-top: 40px;
    /*border: 1px solid lightgray;*/
}

.tag-line {
    width: 1015px;
    margin-top: 40px;
    /*border: 1px solid lightgray;*/
}

main {
    margin-top: 15px;
    /*width: 1000px;*/
    /*height: 65px;*/
    border: 1px solid black;
    /*border-radius: 5px;*/
}

/*main#final-main {
    margin-top: 15px;
    width: 1000px;
    height: 65px;
}*/

form {
    margin-top: 35px;
}

#final-form {
    margin-top: 40px;
}

input#start, input#end {
    width: 220px;
}
label#startLabel, label#endLabel {
    margin-top: 20px;
    margin-left: 15px;
}

button#finalBtn {
    margin-top: 5px;
}

.book-results {
    /*margin-top: 40px;*/
    height: 700px;
}

.results {
    /*margin-top: 40px;*/
    width: 750px;
    height: 700px;
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
}

#map {
    display: inline-block;
}

.empty21px {
    height: 21px;
}

.selected-results {
    /*width: 1355px;*/
    height: 95px;
    /*padding-top: 0;*/
    /*margin-bottom: 15px;*/
    /*border: 1px solid lightgray;*/
}

.selected-book {
    display: inline-block;
    padding: 10px;

    background-color: lightblue;
}

.selected-book-name {
    display: inline-block;
}

.selected-coffee-shop {
    display: inline-block;
    padding: 10px;

    background-color: pink;
}

.selected-coffee-shop-name {
    display: inline-block;
}

.selected-coffee-shop-vicinity {
    display: inline-block;
}

.side-panel-wrap {
    display: inline-block;
    height: 700px;
}

#coffee-shop-reviews {
    /*margin-top: 40px;*/
    width: 350px;
    height: 700px;
    padding: 7px;
    /*display: inline-block;*/
    border: 1px solid lightgray;
    overflow: auto;
    border-radius: 8px;
}

.select-coffee-shop {
    /*width: 225px;
    height: 1px;*/
    text-align: center;
    margin-bottom: 2px;
    /*display: inline-block;*/
    /*border: 1px solid lightgray;
    border-radius: 8px;*/
}

#coffeeShopBtn {
    display: none;
    float: right;
    border-radius: 5px;
    margin-right: 55px;
}

.coffee-reviews-border {
    border-bottom: 1px solid black;
}

.coffee-reviews-background {
    background-color: #cccccc;
}

#coffe-shop-search {
    width: 325px;
    height: 27px;
    margin-top: 10px;
}

#text-directions {
    width: 350px;
    height: 700px;
    padding: 7px;
    /*display: inline-block;*/
    border: 1px solid lightgray;
    overflow: auto;
    border-radius: 8px;
}

.far-right-panel {
    display: inline-block;
    width: 250px;
    height: 700px;
    padding: 7px;
    border: 1px solid lightgray;
    overflow: auto;
    border-radius: 8px;
}